body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  padding: 20px;
  margin: 0;
}

h1 {
  text-align: center;
  color: #444;
  margin-bottom: 50px;
}

h2 {
  color: #333;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.bookshelf {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.bookshelf figure {
  position: relative;
  display: inline-block;
  margin: 20px;
  padding: 15px;
  max-width: 200px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.book {
  width: 150px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.buttons a,
.buttons button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-size: 12px;
  margin: 5px;
  width: 45%;
  text-align: center;
  border: none;
  cursor: pointer;
}

.buttons button:hover,
.buttons a:hover {
  background-color: #0056b3;
}

figcaption {
  margin-top: 10px;
}

figcaption h2 {
  font-size: 16px;
  color: #333;
}

figcaption h2 span {
  display: block;
  font-size: 12px;
  color: #666;
}

/* Player Section */
.player-container {
  text-align: center;
  padding: 20px;
}

.hidden {
  display: none;
}

.back-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #0056b3;
}
